ConvertionCliente/xml-resources/web-service-references/ConvertWebService/wsdl/localhost_8080/ConvertionService/ConvertWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Controle/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Controle/" name="ConvertWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://Controle/" schemaLocation="http://localhost:8080/ConvertionService/ConvertWebService?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="ToFarenheit">
<part name="parameters" element="tns:ToFarenheit" />
</message>
<message name="ToFarenheitResponse">
<part name="parameters" element="tns:ToFarenheitResponse" />
</message>
<message name="ToCelsius">
<part name="parameters" element="tns:ToCelsius" />
</message>
<message name="ToCelsiusResponse">
<part name="parameters" element="tns:ToCelsiusResponse" />
</message>
<portType name="ConvertWebService">
<operation name="hello">
<input wsam:Action="http://Controle/ConvertWebService/helloRequest" message="tns:hello" />
<output wsam:Action="http://Controle/ConvertWebService/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="ToFarenheit">
<input wsam:Action="http://Controle/ConvertWebService/ToFarenheitRequest" message="tns:ToFarenheit" />
<output wsam:Action="http://Controle/ConvertWebService/ToFarenheitResponse" message="tns:ToFarenheitResponse" />
</operation>
<operation name="ToCelsius">
<input wsam:Action="http://Controle/ConvertWebService/ToCelsiusRequest" message="tns:ToCelsius" />
<output wsam:Action="http://Controle/ConvertWebService/ToCelsiusResponse" message="tns:ToCelsiusResponse" />
</operation>
</portType>
<binding name="ConvertWebServicePortBinding" type="tns:ConvertWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ToFarenheit">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ToCelsius">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ConvertWebService">
<port name="ConvertWebServicePort" binding="tns:ConvertWebServicePortBinding">
<soap:address location="http://localhost:8080/ConvertionService/ConvertWebService" />
</port>
</service>
</definitions>